# Copiar a keystore.properties y rellenar.
# Crear keystore (solo la primera vez):
#   keytool -genkey -v -keystore rauli-vision-upload.keystore -alias rauli-vision -keyalg RSA -keysize 2048 -validity 10000

storePassword=TU_PASSWORD
keyPassword=TU_PASSWORD
keyAlias=rauli-vision
storeFile=../rauli-vision-upload.keystore
